{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building a cms in django</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'contact/contact.css' %}">

    {% block style %}
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
    </nav>

    <section>
        {% block container %}
        {% endblock %}
    </section>
</body>
</html>